<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Plagiarism</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-full-page-bs4.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
<div class="container-fluid main-panel">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <div class="login-panel"
                 style="height: 530px;margin-top: 10%;">
                <div class="login-user-avatar"
                     style="background-image: url({% static 'img/user-icon.jpg' %});"></div>
                <div class="login-form">
                    <form>
                        <div class="form-group mb-3">
                            <div class="input-group">
                                <label for="login-username-1">

                                </label>
                                <input class="form-control" type="text"
                                       id="login-username-1" name="name"
                                       required="" placeholder="Full name">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group">
                                <label for="login-username-2"></label>
                                <input class="form-control" type="email"
                                       id="login-username-2" name="email" required=""
                                       placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group">
                                <label for="login-username">

                                </label>
                                <input class="form-control" type="text"
                                       id="login-username" name="username"
                                       required="" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group">
                                <label>
                                    <input class="form-control" type="password" name="password" required=""
                                           placeholder="Password">
                                </label>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <button class="btn btn-primary d-block w-100" type="button">
                                Signup
                            </button>
                        </div>
                    </form>
                </div>
                <div class="login-response has-error">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/login-full-page-bs4.js' %}"></script>
<script src="{% static 'js/login-full-page-bs4-1.js' %}"></script>
</body>

</html>