<!DOCTYPE html>
{% extends 'homepages/base.html' %}
 {% load static %} 
 {% block content %}
<main class="page landing-page">
  <section
    class="clean-block clean-hero"
    style="
      color: rgba(95, 106, 112, 0.85);
      background: url({% static 'assets/img/img.png' %});
      border-color: rgba(98, 108, 113, 0.85);
      background-size: contain;
    "
  >
    <div class="text">
      <h2>PLAGIARISM SITE</h2>
      <p>Give a try and enjoy the quality of copyright!</p>
      <button class="btn btn-outline-light btn-lg" type="button">
        Learn More
      </button>
    </div>
  </section>
  <section class="clean-block clean-info dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Briefly dive-in</h2>
        <p>
          We offer you one of the best you can find and at free of charge for
          all operations performed on the site.
        </p>
      </div>
      <div class="row align-items-center">
        <div class="col-md-6">
          <img
            class="img-thumbnail"
            src="{% static 'assets/img/scenery/Plagiarism-Measure.png' %}"
          />
        </div>
        <div class="col-md-6">
          <h3>Awareness of illegal copies of your projects.</h3>
          <div class="getting-started-info">
            <p>
              We give you alerts whenever a registered project is replicated
              somewhere by someone, anywhere or anyhow.
            </p>
          </div>
          <a href="{% url 'upload' %}" class="btn btn-outline-primary btn-lg">
            Give us a try
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="clean-block features">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Features</h2>
        <p>Some of the main features of our site</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 feature-box">
          <i class="icon-star icon"></i>
          <h4>Project Saving</h4>
          <p>
            We keep a soft copy of your project which can be retrieved at
            anytime depending on your wants.
          </p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="icon-pencil icon"></i>
          <h4>Customizable</h4>
          <p>
            The best way your project can be edit, whenever you want to make a
            change or upgrade your project
          </p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="icon-screen-smartphone icon"></i>
          <h4>Nearer to you</h4>
          <p>
            Availability 24/7 with a high quality customer support always
            working with&nbsp; joy, we make you our priority.&nbsp;
          </p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="icon-refresh icon"></i>
          <h4>Keep track</h4>
          <p>Helps you in keeping track of your changes and work.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="clean-block slider dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Our Gallery</h2>
        <p>Some of the images illustration of our work</p>
      </div>
      <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              class="w-100 d-block"
              src="{% static 'assets/img/scenery/Plagiarism-Measure.png' %}"
              alt="Slide Image"
            />
          </div>
          <div class="carousel-item">
            <img
              class="w-100 d-block"
              src="{% static 'assets/img/scenery/images.png' %}"
              alt="Slide Image"
            />
          </div>
          <div class="carousel-item">
            <img
              class="w-100 d-block"
              src="{% static 'assets/img/scenery/PlagiarismShadow.gif' %}"
              alt="Slide Image"
            />
          </div>
        </div>
        <div>
          <a
            class="carousel-control-prev"
            href="#carousel-1"
            role="button"
            data-bs-slide="prev"
            ><span class="carousel-control-prev-icon"></span
            ><span class="visually-hidden">Previous</span></a
          ><a
            class="carousel-control-next"
            href="#carousel-1"
            role="button"
            data-bs-slide="next"
            ><span class="carousel-control-next-icon"></span
            ><span class="visually-hidden">Next</span></a
          >
        </div>
        <ol class="carousel-indicators">
          <li
            data-bs-target="#carousel-1"
            data-bs-slide-to="0"
            class="active"
          ></li>
          <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
          <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
        </ol>
      </div>
    </div>
  </section>
  <section class="clean-block about-us">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Our team</h2>
        <p>The main people behind this pretty and nice system</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-6 col-lg-4">
          <div class="card text-center clean-card">
            <img
              class="card-img-top w-100 d-block"
              src="{% static 'assets/img/avatars/avatar1.jpg' %}"
            />
            <div class="card-body info">
              <h4 class="card-title">John Smith</h4>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
              <div class="icons">
                <a href="#"><i class="icon-social-facebook"></i></a
                ><a href="#"><i class="icon-social-instagram"></i></a
                ><a href="#"><i class="icon-social-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card text-center clean-card">
            <img
              class="card-img-top w-100 d-block"
              src="{% static 'assets/img/avatars/avatar3.jpg' %}"
            />
            <div class="card-body info">
              <h4 class="card-title">Ally Sanders</h4>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
              <div class="icons">
                <a href="#"><i class="icon-social-facebook"></i></a
                ><a href="#"><i class="icon-social-instagram"></i></a
                ><a href="#"><i class="icon-social-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
